.workoutStats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}

.workoutStats h1 {
  font-family: "Unbounded", sans-serif;
}

.workoutStats h2 {
  font-weight: 500;
}

.stats {
  display: flex;
  flex-direction: column;
}

.chart {
  margin-block: 1rem;
}
